body {
    background-color: #808080;
    margin: 0px;
}
header {
    background-color: #000000;
    padding-bottom: 30px;
    word-wrap: break-word;
    border-radius: 0%;
    z-index: 1;
}
.navigation-menu {
    display: flex;
}
.navigation-menu .navigation-menu-section {
    margin-left: 200px;
    display: flex;
}
.navigation-menu .account-section {
    display: flex;
    margin-left: 1100px;
}
.navigation-menu .nav-button {
    text-align: center;
    color: #f3f3f3;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-between;
    font-size: 20px;
}
.navigation-menu .nav-button:hover {
    color: #bebebe;
    cursor: pointer;
}
.navigation-menu .navigation-menu-section #logo {
    font-size: 20px;
    color: #e1c150;
}
