.sidenav {
    height: 100%;
    width: 200px;
    position: relative;
    background-color: rgb(32, 31, 31);
    overflow-x: hidden;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}

.sidenav a:hover {
    color: #f1f1f1;
}